<!-- have the page the whole height of the screen (100vh) center elements in it and data is attached to the formGroup Obj -->
<div style="height: 100vh" fxLayoutAlign="center center" [formGroup]="formGroup">
    <!-- Mat card give the data somewhere to be -->
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <p>Changing password</p>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Challenge Answer</mat-label>
                <input matInput formControlName="challengeanswer">
            </mat-form-field>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newpassword">
            </mat-form-field>
        <!-- </div> -->
        <button mat-stroked-button (click)="onForgotPassword()">
		Update Password
        </button>
    </mat-card>
</div>