+<!-- have the page the whole height of the screen (100vh) center elements in it and data is attached to the formGroup Obj -->
<div style="height: 100vh" fxLayoutAlign="center center" [formGroup]="formGroup">
    <!-- Mat card give the data somewhere to be -->
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <p>Reset My password</p>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
			<mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newpassword">
            </mat-form-field>
			<mat-form-field>
                <mat-label>Confirm New Password</mat-label>
                <input matInput formControlName="confirmnewpassword">
            </mat-form-field>
        <!-- </div> -->
        <button mat-stroked-button (click)="onResetPassword()">
		Reset Password
        </button>
    </mat-card>
</div>