<div style="height: 100vh" fxLayout="column" [formGroup]="formGroup">
    <h1 class="title">Live Music Lives Here!</h1>
    <div fxLayout="row">
    <mat-card class="top-row inline-block">
        <div class="upcoming-events">
            <mat-card class="upcoming-events-mat-card-align">
                <mat-card-title>Your Upcoming Events</mat-card-title>
                <p>Insert calendar here</p>
                <p>Insert list of events</p>
            </mat-card>
        </div>
        <br>
        <br>
        <div class="reccomended-artists">
            <mat-card class="reccomended-artists-mat-card-align">
                <mat-card-title>Check these artists out</mat-card-title>
                <p>Insert artist name, profile pic, and description</p>
            </mat-card>
        </div>
    </mat-card>
    <mat-card class="bottom-row inline-block">
        <div class="band-news">
            <mat-card class="band-news-mat-card-align">
                <mat-card-title>News from your faves</mat-card-title>
                <p>Insert posts from bands</p>
            </mat-card>
        </div>
        <br>
        <br>
        <div class="event-map">
            <mat-card class="event-map-mat-card-align">
                <mat-card-title>Whats happening near you</mat-card-title>
                <p>Insert map of events</p>
            </mat-card>
        </div>
    </mat-card>
    </div>
</div>